<?xml version="1.0"?>
<launch>
  <node name="tabletop_segmentation_server" pkg="curious_table_explorer" type="tabletop_segmentation_server.py" output="screen"/>
  <node name="point_surrounder" pkg="curious_table_explorer" type="surrounder.py" output="screen"/>
  <node name="object_view_collector" pkg="curious_table_explorer" type="collect_object_views" output="screen"/>
</launch>
