<?xml version="1.0"?>
<launch>
  <include file="$(find curious_table_explorer)/launch/infrastructure.launch" />

  <node name="point_surrounder" pkg="curious_table_explorer" type="surrounder.py" output="screen" />

  <node name="object_view_collector" pkg="curious_table_explorer" type="collect_object_views" output="screen" />
  <node name="recognize_registered_objects" pkg="curious_table_explorer" type="recognize_registered_objects" output="screen" />
</launch>
