<?xml version="1.0"?>
<launch>
  <node name="tabletop_segmentation" pkg="curious_table_explorer" type="tabletop_segmentation.py" output="screen" />

  <node name="tabletop_segmentation_action_server" pkg="curious_table_explorer" type="object_recognition_action_server.py" output="screen">
    <remap from="input_cloud" to="kinect/depth_registered/points" />
    <remap from="pipeline_input" to="table_view" />
    <remap from="pipeline_output" to="segmented_tabletop_objects" />
  </node>

  <node name="move_base_straight" pkg="move_base_straight" type="move_base_straight.py" output="screen">
    <remap from="base_scan" to="lms200_scan_filtered"/>
    <remap from="base_controller/command" to="cmd_vel"/>
    <param name="goal_threshold" value="0.1"/>
    <param name="yaw_goal_tolerance" value="0.1"/>
  </node>

  <node name="finalize_table_srv" pkg="curious_table_explorer" type="finalize_table_srv.py" output="screen" />
</launch>
