<?xml version="1.0"?>
<launch>
  <node name="tabletop_segmentation" pkg="curious_table_explorer" type="tabletop_segmentation.py" output="screen"/>

  <node name="tabletop_segmentation_action_server" pkg="curious_table_explorer" type="object_recognition_action_server.py" output="screen">
    <remap from="input_cloud" to="kinect/depth_registered/points"/>
    <remap from="pipeline_input" to="table_view"/>
    <remap from="pipeline_output" to="segmented_tabletop_objects"/>
  </node>

  <node name="point_surrounder" pkg="curious_table_explorer" type="surrounder.py" output="screen"/>

  <node name="move_base_straight" pkg="move_base_straight" type="move_base_straight.py">
    <remap from="base_scan" to="lms200_scan_filtered"/>
    <remap from="base_controller/command" to="cmd_vel"/>
  </node>
</launch>
